
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ul,
li,
blockquote,
form,
tbody,
tfoot,
thead,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
main,
menu,
nav,
summary,
section {
    display: block;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a:active,
a:hover {
    outline: 0;
}

a {
    color: #333;
    text-decoration: none;
    background: transparent;
    -webkit-text-decoration-skip: objects;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #ccc;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}

input::-ms-clear {
    display: none;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-btn,
input[type="number"]::-webkit-outer-spin-btn {
    height: auto;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-btn,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

hr {
    background: #ddd;
    color: #ddd;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 5px 0;
    border: none;
}

hr.space {
    background: #fff;
    color: #fff;
    visibility: hidden;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

/* ==========================================================================
   基本样式
   ========================================================================== */
body {
    font-family: "Microsoft YaHei", "simsun", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fafbff;
}

.w100 {
    width: 100%;
}

.wrap {
    margin: 0 auto;
    min-width: 320px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.ti {
    text-indent: 2em;
}

.ta-l {
    text-align: left;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
    line-height: 1;
    margin-left: .2em;
    margin-right: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\f007";
    margin-right: 5px;
}

.icon-navicon:before {
    content: "\f0c9";
}

.icon-navicon {
    display: none;
}

.icon-search:before {
    content: "\f002";
}

.icon-share-alt {
    line-height: inherit !important;
    height: inherit !important;
    background-image: none !important;
    margin: 0 !important;
}

.icon-share-alt:before {
    content: "\f1e0";
}

.icon-map-marker:before {
    content: "\f041";
    margin-right: 5px;
}

.icon-comments:before {
    content: "\f086";
    margin-right: 5px;
}

.icon-home:before {
    margin-right: 5px;
    content: "\f015";
}

.icon-send:before,
.icon-paper-plane:before {
    content: "\f1d8";
}

.icon-send-o:before,
.icon-paper-plane-o:before {
    content: "\f1d9";
}

.icon-list:before {
    margin-right: 5px;
    content: "\f03a";
}

.icon-edit:before {
    margin-right: 5px;
    content: "\f044";
}

.icon-list-alt:before {
    content: "\f022";
}

.icon-angle-up:before {
    content: "\f106";
}

.icon-arrow-up:before {
    content: "\f062";
}

.icon-angle-down:before {
    content: "\f107";
}

.icon-comment:before {
    margin-right: 5px;
    content: "\f075";
}

.icon-comment-o:before {
    content: "\f0e5";
}

.close {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    line-height: 24px;
}

.close:before {
    content: "\00d7";
}

.xl1,
.xl2,
.xl3,
.xl4,
.xl5,
.xl6,
.xl7,
.xl8,
.xl9,
.xl10,
.xl11,
.xl12,
.xs1,
.xs2,
.xs3,
.xs4,
.xs5,
.xs6,
.xs7,
.xs8,
.xs9,
.xs10,
.xs11,
.xs12,
.xm1,
.xm2,
.xm3,
.xm4,
.xm5,
.xm6,
.xm7,
.xm8,
.xm9,
.xm10,
.xm11,
.xm12,
.xb1,
.xb2,
.xb3,
.xb4,
.xb5,
.xb6,
.xb7,
.xb8,
.xb9,
.xb10,
.xb11,
.xb12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.line {
    margin-left: -10px;
    margin-right: -10px;
}

@media (min-width: 320px) {
    .wrap {
        width: 100%;
    }

    .xl1 {
        width: 8.33333333%;
    }

    .xl2 {
        width: 16.66666667%;
    }

    .xl3 {
        width: 25%;
    }

    .xl4 {
        width: 33.33333333%;
    }

    .xl5 {
        width: 41.66666667%;
    }

    .xl6 {
        width: 50%;
    }

    .xl7 {
        width: 58.33333333%;
    }

    .xl8 {
        width: 66.66666667%;
    }

    .xl9 {
        width: 75%;
    }

    .xl10 {
        width: 83.33333333%;
    }

    .xl11 {
        width: 91.66666667%;
    }

    .xl12 {
        width: 100%;
    }
}

@media (min-width: 760px) {
    .wrap {
        width: 760px;
        padding: 0 10px;
    }

    .xs1 {
        width: 8.33333333%;
    }

    .xs2 {
        width: 16.66666667%;
    }

    .xs3 {
        width: 25%;
    }

    .xs4 {
        width: 33.33333333%;
    }

    .xs5 {
        width: 41.66666667%;
    }

    .xs6 {
        width: 50%;
    }

    .xs7 {
        width: 58.33333333%;
    }

    .xs8 {
        width: 66.66666667%;
    }

    .xs9 {
        width: 75%;
    }

    .xs10 {
        width: 83.33333333%;
    }

    .xs11 {
        width: 91.66666667%;
    }

    .xs12 {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .wrap {
        width: 1000px;
    }

    .xm1 {
        width: 8.33333333%;
    }

    .xm2 {
        width: 16.66666667%;
    }

    .xm3 {
        width: 25%;
    }

    .xm4 {
        width: 33.33333333%;
    }

    .xm5 {
        width: 41.66666667%;
    }

    .xm6 {
        width: 50%;
    }

    .xm7 {
        width: 58.33333333%;
    }

    .xm8 {
        width: 66.66666667%;
    }

    .xm9 {
        width: 75%;
    }

    .xm10 {
        width: 83.33333333%;
    }

    .xm11 {
        width: 91.66666667%;
    }

    .xm12 {
        width: 100%;
    }
}

@media (max-width: 759px) {
    .show-l {
        display: block !important;
    }

    .hidden-l {
        display: none !important;
    }
}

@media (min-width: 760px) {
    .show-s {
        display: block !important;
    }

    .hidden-s {
        display: none !important;
    }
}

.bg {
    background-color: #f5f5f5;
}

.bg-main {
    background-color: #019b47;
}

.bd-main {
    border-color: #019b47;
}

.bd-sub {
    border-color: #5cb85c;
}

.bd-dot {
    border-color: #5bc0de;
}

/* ==========================================================================
   index.less
   ========================================================================== */
#side {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30%;
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.8);
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C3E50, #4CA1AF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C3E50, #4CA1AF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#side .head img {
    margin: 60px auto 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

#side h1 {
    font-size: 24px;
}

#side h3 {
    font-size: 18px;
}

#side .nav {
    margin-top: 20px;
}

#side .nav li {
    display: inline-block;
    margin-right: 10px;
}

#side .nav a {
    display: block;
    padding: 6px 15px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    transition: 1s ease;
}

#side .nav a:hover {
    background-color: #fff;
    color: #4d698e;
}

#side .intro {
    margin-top: 40px;
    line-height: 24px;
}

#side .doing {
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 60px -30px;
}

#side .copyright {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    left: 0;
}

.main {
    width: 70%;
    margin-left: 30%;
    padding: 70px 40px 20px;
}

#post-list > h2 {
    font-size: 34px;
    margin-bottom: 15px;
}

#post-list li {
    margin-bottom: 60px;
}

#post-list li:hover {
    opacity: 1;
}

#post-list li:hover img {
    box-shadow: 0 2px 5px rgba(0, 0, 25, 0.1), 0 5px 75px 1px rgba(0, 0, 50, 0.2);
}

#post-list li h1 {
    font-size: 24px;
}

#post-list li p {
    font-size: 14px;
    line-height: 28px;
    color: #666;
    margin-top: 16px;
    margin-bottom: 10px;
}

#post-list li .post-meta {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

#post-list li .post-meta a {
    font-size: 12px;
    color: #999;
}

#post-list li img {
    border-radius: 6px;
    width: 100%;
    height: auto;
    transition: box-shadow 1s ease-out;
}

#post-list .page a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: box-shadow 1s ease-out;
    box-shadow: 0 2px 5px rgba(0, 0, 30, 0.1), 0 5px 40px 1px rgba(0, 0, 50, 0.2);
}

#post-list .page a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 25, 0.2), 0 5px 120px 1px rgba(0, 0, 50, 0.4);
}

#archieve-list {
    width: 70%;
    margin-left: 30%;
    padding: 70px 40px 20px;
}

#archieve-list > h2 {
    font-size: 34px;
    margin-bottom: 15px;
}

#archieve-list li {
    margin-bottom: 15px;
}

@media (max-width: 759px) {
    #side {
        position: static;
        width: 100%;
        padding-bottom: 20px;
    }

    #side .head img {
        margin: 20px auto;
    }

    #side .nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
        border-top: 1px solid #ccc;
        background-color: #eee;
    }

    #side .nav li {
        display: block;
        margin-right: 0;
        width: 33.33333333%;
        float: left;
    }

    #side .nav a {
        line-height: 38px;
        border-radius: 0;
        border: 0;
        font-size: 16px;
        color: #999;
    }

    #side .nav a.active {
        background-color: #fff;
        color: #4d698e;
    }

    #post-list {
        width: 100%;
        margin-left: 0;
        padding: 35px 15px;
    }

    #post-list img {
        margin-top: 30px;
    }

    #post-list .page {
        margin-bottom: 40px;
    }
}

/* ==========================================================================
   post.less
   ========================================================================== */
#post {
    width: 70%;
    margin-left: 30%;
    padding: 70px 50px 0;
}

#post p {
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #666;
}

#post #detail h1 {
    font-size: 34px;
}

#post #detail .post-meta {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12px;
    color: #999;
}

#post #detail .post-meta a {
    font-size: 12px;
    color: #999;
}

#post #detail img {
    max-width: 100%;
    margin: 20px 0;
}

#post #detail .share {
    width: 50px;
    position: fixed;
    right: 0;
    bottom: 40px;
}

#post #detail .share a {
    display: block;
    padding: 10px;
    font-size: 30px;
    opacity: .5;
    transition: 1s ease-out;
}

#post #detail .share a:hover {
    opacity: 1;
}

#post #detail .share span {
    float: left;
}

#post #detail .qcode {
    margin: 50px 0;
}

#post #detail .qcode img {
    display: block;
    margin: 5px auto;
}

#post .next-post a {
    display: inline-block;
    width: 60%;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: 1s ease-out;
    box-shadow: 0 2px 5px rgba(0, 0, 30, 0.1), 0 5px 40px 1px rgba(0, 0, 50, 0.2);
    opacity: .5;
}

#post .next-post a:hover {
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 25, 0.2), 0 5px 100px 1px rgba(0, 0, 50, 0.3);
}

#post .next-post a h3 {
    font-size: 18px;
}

#post .next-post a p {
    margin-bottom: 0;
}

#post .commentlist dl {
    position: relative;
    border-bottom: 1px solid #eee;
    clear: both;
    padding: 10px 0;
    margin-bottom: 5px;
}

#post .commentlist dl dt {
    float: left;
    margin-right: 10px;
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
}

#post .commentlist dl dd {
    padding-left: 60px;
    float: left;
    width: 100%;
}

#post .commentlist dl dd small {
    display: block;
    color: #999;
    margin: -2px 0;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
}

#post .commentlist dl dd small a {
    display: none;
}

#post .commentlist dl dd dl {
    margin: 0px;
    border-top: 1px solid #eee;
    border-bottom: none;
    padding-top: 5px;
}

#post .commentlist dl dd dl dd {
    width: 550px;
}

#post .commentlist dl dd p {
    margin-bottom: 10px;
}

#post .commentlist cite {
    font-style: normal;
}

@media (max-width: 759px) {
    #post {
        width: 100%;
        margin-left: 0;
        padding: 35px 15px;
    }

    #post #detail .share {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 51px;
        z-index: 999;
        background-color: #fff;
        border-top: 1px solid #ccc;
    }

    #post #detail .share > a,
    #post #detail .share > span {
        display: block;
        float: left;
        width: 25%;
        padding: 0;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        opacity: 1;
        color: #666;
    }

    #post #detail .share span a {
        width: 100%;
        padding: 0;
        font-size: 20px;
        opacity: 1;
        color: #666;
    }

    #post .next-post {
        margin-bottom: 20px;
    }

    #post .next-post a {
        width: 90%;
    }
}

#postform input {
    width: 170px;
    margin: 5px 5px 1px 0;
}

#postform textarea {
    width: 99%;
}

#postform #actiontips {
    float: right;
    display: none;
}

#postform #actiontips img {
    vertical-align: middle;
    margin-right: 3px;
}

#postform .success {
    color: green;
}

#postform .error {
    color: red;
}

#postform .loading {
    color: blue;
}

#postform #submit {
    float: left;
}

#postform p {
    margin: 5px 0;
}

#postform .checkbox {
    width: auto;
    padding: 0;
    margin: 0;
}

#comments h3,
#respond h3 {
    font-size: 18px;
    margin: 20px 0;
}

#respond h3 a {
    display: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 13px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #667c99;
    background: #e8ecf3;
    border: 0;
}

.btn-primary {
    color: #fff;
    background: #4d698e;
}

.avatar {
    border: 1px solid #eee;
    padding: 2px;
    background: #fff;
    width: 48px;
    height: 48px;
}

.pager {
    margin: 25px 0;
    text-align: center;
    color: #018ee8;
}

.pager li {
    display: inline-block;
}

.pager a {
    min-width: 25px;
    display: block;
    border: 1px solid #969799;
    color: #969799;
    margin: 0px 2px;
    padding: 2px 5px;
    text-decoration: none;
}

.pager span {
    min-width: 25px;
    display: block;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    color: #d5d5d5;
    font-weight: bold;
    margin: 0px 2px;
    padding: 2px 5px;
}

.pager a:hover,
.pager span.current {
    background-color: #4d698e;
    border: 1px solid #4d698e;
    color: #fff;
    text-decoration: none;
}

.input {
    border: 1px solid #ddd;
    padding: 5px;
    color: #444;
}
hr.line-break {
    border: 0;
    height: 0;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #ffffff;
}
.profile .tabs-header li {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.profile .tabs-header li a {
    font-size: 18px;
}