<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理| 管理员用户</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/css/styles.css">

</head>
<body>
<div class="container-fluid" style="background: #fff">
    <table id="table" lay-filter="table"></table>
    <script type="text/html" id="action">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<!-- jQuery 2.2.3 -->
<script src="__PLUGINS__/jQuery/jquery-2.2.3.min.js"></script>
<script src="__PLUGINS__/layui/layui.js"></script>
<script>
    $(function () {
        var $height = $(document).height();
        layui.use(['table','layer'], function () {
            var table = layui.table,
                layer = layui.layer;
            table.render({
                elem: '#table'
                , height: $height
                , url: '{:url("/admin/getAdmins")}' //数据接口
                , page: true //开启分页x
                , toolbar: 'default'
                , cols: [[ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'admin_id', title: '主键', hide: true}
                    , {field: 'account', title: '用户名', sort: true}
                    , {field: 'icon', title: '头像'}
                    , {field: 'full_name', title: '姓名'}
                    , {field: 'gender', title: '性别'}
                    , {field: 'status', title: '状态'}
                    ,{fixed: 'right', title:'操作', toolbar: '#action', width:150}
                ]]
            });
            //头工具栏事件
            table.on('toolbar', function(obj){
                switch(obj.event){
                    case 'add':
                        top.layer.open({
                            title : '添加管理员',
                            type: 2,
                            area: ['500px', '300px'],
                            content: '{:url("/admin/form")}',
                            btn: ['确定', '取消']
                        });
                        break;
                    case 'edit':
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'del':
                        break;
                }
            });
            //监听行工具事件
            table.on('tool', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        obj.del();
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    layer.prompt({
                        formType: 2
                        ,value: data.email
                    }, function(value, index){
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }
            });
        });
    });
</script>
</body>
</html>