<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="keywords" content="{$site_info.site_seo_keywords|default=''}"/>
    <meta name="description" content="{$site_info.site_seo_description|default=''}">
    {include file="public/head" /}
    <style>
        #footer {
            width: 100%;
            bottom: 0;
        }
    </style>
</head>

<body>
<div class="login-header">
    <div class="container">
        <a href="{:url('/login')}" class="pull-right" style="line-height: 70px;font-size: 18px"><< 返回登录</a>
        <div class="logo">
            <a href="/">
                <img src="__PORTAL__/images/logo.png" alt="logo">
                <span>途迹网</span>
            </a>
        </div>
    </div>
</div>
<div class="login-wrap forget-password">
    <!--用户名-->
    <form action="{:url('/checkUsername')}" class="form-horizontal" id="login-name">
        <p>请输入你需要找回登录密码的账户名</p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">用户名：</label>
            <div class="col-sm-10">
                <input type="text" id="username" class="form-control" name="username" placeholder="用户名"
                       style="width: 60%" required>
                <input type="hidden" id="token" name="__token__" value="{$Request.token}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-success btn-block submit" style="width: 60%">下一步</button>
            </div>
        </div>
    </form>
    <!--获取验证码-->
    <form action="{:url('/checkCode')}" class="form-horizontal" id="send-sms">
        <p class="text-center">短信已发送至您的手机<span id="mobile"></span></p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="sms-code">手机验证码：</label>
            <div class="col-sm-10">
                <input type="text" name="mobile_verify" id="sms-code" class="form-control pull-left"
                       style="width: 40%"
                       placeholder="验证码">
                <button class=" btn btn-primary get-sms" type="button" style="border-radius: 0" disabled><i
                        id="second">(90)秒后可再次获取</i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-success btn-block submit" style="width: 70%">确定</button>
            </div>
        </div>
    </form>
    <!--修改密码-->
    <form action="{:url('/changePassword')}" class="form-horizontal" id="new-password">
        <p>请输入你的新密码</p>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">新密码：</label>
            <div class="col-sm-10">
                <input type="password" id="password" class="form-control" name="password" placeholder="新密码"
                       style="width: 60%" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="confirm_password">再次输入密码：</label>
            <div class="col-sm-10">
                <input type="password" id="confirm_password" class="form-control" name="confirm_password"
                       placeholder="请再次输入密码"
                       style="width: 60%" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-success btn-block submit" style="width: 60%">确认</button>
            </div>
        </div>
    </form>
</div>
<!-- /container -->
{include file="public/footer" /}
{include file="public/scripts" /}
<script>
    $(function () {
        var form = $('form');
        form.submit(function () {
            var $this = $(this),
                $data = $this.serialize(),
                $url = $this.attr('action');
            $.ajax({
                url: $url,
                type: 'post',
                data: $data,
                success: function (data) {
                    if (data.success !== undefined && !data.success) {
                        $('#token').val(data.token);
                        return false;
                    }
                    $this.hide().next().show();
                    $('#mobile').text(data);
                    countDown();
                }
            });
            return false;
        });

        function countDown() {
            var intDiff = parseInt(90);//倒计时总秒数量
            var timer = setInterval(function () {
                if (intDiff >= 0) {
                    $('#second').text('(' + intDiff + ')秒后可再次获取');
                    intDiff--;
                } else {
                    $('.get-sms').attr('disabled', false);
                    $('#second').text('获取验证码');
                    clearInterval(timer);
                }
            }, 1000)
        }

        $('.get-sms').click(function () {
            $.get('{:url("/againSendSms")}', function (data) {
                $('.get-sms').attr('disabled', true);
                countDown();
            })
        });
    })
</script>
</body>
</html>