{layout name="layout/user" /}
<!-- 文章列表 -->
<div class="main" id="post-list">
    <ul>
        <li class="clearfix line">

            <div class="post-about xl12 xs8">
                <h1><a href="/blog/p/4.html">博客的时代正在到来</a></h1>
                <div class="post-meta"><a href="/blog/c/1.html">默认分类</a> | 1年前发布 | <a href="/blog/p/4.html#comments">138条评论</a>
                </div>
                <p class="mt20 mb10">
                <p>
                    全世界每天传播的媒体内容，有一半是由6大媒体巨头所控制。其利益驱动、意识形态以及传统的审查制度，使得这些经过严重加工处理的内容已经越来越不适应人们的需求。媒体的工业化，内容出口的工厂化，都在严重影响其发展。<br/>比如，以美联社为例，有近4000人专业记者，每天“制造并出厂”2000万字的内容，每天发布在8500多种报纸、杂志和广播中，把读者当作“信息动物”一样。这种大教堂式的模式主导了整个媒体世界。这时，以个人为中心的博客潮流却开始有力冲击传统媒体，尤其是对新闻界多年形成的传统观念和道德规范。
                </p></p>
            </div>
            <div class="post-img xl12 xs4">
                <a href="#"><img src="__PORTAL__/images/demo/demo (1).jpg" alt=""></a>
            </div>
        </li>
        <li class="clearfix line">

            <div class="post-about xl12 xs8">
                <h1><a href="/blog/p/3.html">博客的崛起</a></h1>
                <div class="post-meta"><a href="/blog/c/1.html">默认分类</a> | 1年前发布 | <a href="/blog/p/3.html#comments">30条评论</a>
                </div>
                <p class="mt20 mb10">
                <p>
                    这几年，对于所有新闻媒体来说，都品尝到了技术变革的滋味。如今，再没有任何人会否认互联网对媒体带来的革命，但是，好像也没有多少人感知到互联网的神奇：颠覆性的力量似乎并没有来到人间。所有的核心在于时间。对于性急的人来说，时间如同缓慢的河流，对于从容的人来说，时间又是急流。互联网的力量的确还没有充分施展，因为互联网的商业化起始，到今天仅仅才10年；互联网作为一种新的媒体方式，从尝试到今天，也刚刚跨过10年。</p></p>
            </div>
            <div class="post-img xl12 xs4">
                <a href="#"><img src="__PORTAL__/images/demo/demo (2).jpg" alt=""></a>
            </div>
        </li>
        <li class="clearfix line">

            <div class="post-about xl12 xs8">
                <h1><a href="/blog/p/2.html">博客的来源</a></h1>
                <div class="post-meta"><a href="/blog/c/1.html">默认分类</a> | 1年前发布 | <a href="/blog/p/2.html#comments">53条评论</a>
                </div>
                <p class="mt20 mb10">
                <p> 博客最早是由Jorn Barger在1997年12月提出博客这个名称，但是在1998年，互联网上的博客网站却屈指可数。那时，Infosift的编辑Jesse
                    J.Garrett想列举一个博客类似站点的名单，便在互联网上开始了艰难的搜索， 终于在1998年的12月，他的搜集好了部分网站的名单。他把这份名单发给了Cameron
                    Barrett，Cameron觉得这份名单非常有用，就将它在Camworld网站上公布于众。其它的博客站点维护者发现此举后，也纷纷把自己的网址和网站名称、主要特色都发了过来，这个名单也就日渐丰富。到了1999年初，Jesse的“完全博客站点”名单所列的站点已达23个。</p></p>
            </div>
            <div class="post-img xl12 xs4">
                <a href="#"><img src="__PORTAL__/images/demo/demo (3).jpg" alt=""></a>
            </div>
        </li>
        <li class="clearfix line">

            <div class="post-about xl12 xs8">
                <h1><a href="/blog/p/1.html">关于FastAdmin</a></h1>
                <div class="post-meta"><a href="/blog/c/1.html">默认分类</a> | 1年前发布 | <a href="/blog/p/1.html#comments">4294967295条评论</a>
                </div>
                <p class="mt20 mb10">内容。</p>
            </div>
            <div class="post-img xl12 xs4">
                <a href="#"><img src="__PORTAL__/images/demo/demo (4).jpg" alt=""></a>
            </div>
        </li>
    </ul>
    <!-- 分页 -->
    <div class="page">
    </div>
</div>
