{layout name="layout/user" /}

<div class="main profile">
    <div class="tabs-header">
        <ul>
            <li class="active"><a href="#a">个人信息</a></li>
            <li><a href="#a">隐私设置</a></li>
            <li><a href="">消息设置</a></li>
            <li><a href="">账号绑定</a></li>
        </ul>
    </div>
    <hr class="line-break">
    <div class="tabs-body">
        <div class="tab-item">
            <div class="field">
                <p><i class="fa fa-user-circle"></i>登录名：<span class="field-value">{$user['username']}</span></p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-lock"></i>密码：<span class="field-value">***************</span>
                    <a class="action" href="">修改密码</a>
                </p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-mobile"></i>绑定手机号：<span class="field-value">{$user['mobile']}</span>
                    <a class="action" href="">更换手机号码</a>
                </p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-id-card"></i>昵称：<span class="field-value">{$user['nick_name']?:'未设置昵称'}</span>
                    <a class="action" href="">修改昵称</a>
                </p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-address-book"></i>地址：<span class="field-value">{$user['nick_name']?:'未设置地址'}</span>
                    <a class="action" href="">修改地址</a>
                </p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-birthday-cake"></i>生日：<span class="field-value">{$user['birthday']?:'未设置生日'}</span>
                    <a class="action" href="">修改出生日期</a>
                </p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-lock"></i>性别：<span class="field-value">{$user['gender']}</span>
                    <a class="action" href="">修改性别</a>
                </p>
            </div>
            <div class="field">
                <p>
                    <i class="fa fa-lock"></i>学历：<span class="field-value">***************</span>
                    <a class="action" href="">完善资料</a>
                </p>
            </div>
        </div>
    </div>
</div>