{layout name="layout/user" /}

<div class="main profile">
    <div class="tabs-header">
        <ul>
            <li><a href="#a">个人信息</a></li>
            <li><a href="#a">隐私设置</a></li>
            <li><a href="">消息设置</a></li>
            <li><a href="">账号绑定</a></li>
        </ul>
    </div>
    <hr class="line-break">
    <div class="tabs-body">
        <div class="tab-item">
            <form action="">
                <div class="form-group">
                    <label for="username">登录名：</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="username">昵称：</label>
                    <input type="text" id="nick-name" name="nick_name">
                </div>
                <div class="form-group">
                    <label for="full-name">真实姓名：</label>
                    <input type="text" id="full-name" name="full_name">
                </div>
                <div class="form-group">
                    <label for="birthday">生日：</label>
                    <input type="text" id="birthday" name="birthday">
                </div>
                <div class="form-group">
                    <label for="gender">性别：</label>
                    <input type="text" id="gender" name="gender">
                </div>
                <div class="form-group">
                    <label for="address">地址：</label>
                    <input type="text" id="address" name="address">
                </div>
                <div class="form-group">
                    <label for="QQ">QQ：</label>
                    <input type="text" id="QQ" name="QQ">
                </div>
                <div class="form-group">
                    <label for="email">邮箱：</label>
                    <input type="text" id="email" name="email">
                </div>
            </form>
        </div>
    </div>
</div>