<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理| 附件上传</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__ADMIN__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__PLUGINS__/ueditor/third-party/webuploader/webuploader.css">
    <link rel="stylesheet" href="__ADMIN__/css/upload.css">
</head>
<body>
<div class="wrap " style="padding:5px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#wrapper" data-toggle="tab">上传文件</a></li>
        <li class=""><a href="#B" data-toggle="tab">网络文件</a></li>
        <!--<li class=""><a href="#explorer" data-toggle="tab">文件管理</a></li>-->
    </ul>
    <div class="tab-content ">
            <div class="tab-pane active" id="wrapper">
                <div id="container">
                        <!--头部，相册选择和格式选择-->
                        <div id="uploader">
                            <div class="queueList">
                                <div id="dndArea" class="placeholder">
                                    <div id="filePicker"></div>
                                    <p>或将照片拖到这里，单次最多可选300张</p>
                                </div>
                            </div>
                            <div class="statusBar" style="display:none;">
                                <div class="progress">
                                    <span class="text">0%</span>
                                    <span class="percentage"></span>
                                </div><div class="info"></div>
                                <div class="btns">
                                    <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="tab-pane" id="B"> 请输入网络地址
                <div class="bk3"></div>
                <input type="hidden" id="img_name" value="">
                <input type="text" id="info" name="info[filename]" class="input form-control" value=""
                       style="width:600px;" placeholder="http://">
            </div>
            <div class="tab-pane" id="explorer">
                <div class="bk3"></div>

            </div>

        </div>
</div>
<!-- jQuery 2.2.3 -->
<script src="__PLUGINS__/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PLUGINS__/ueditor/third-party/webuploader/webuploader.min.js"></script>
<script>
    var rootPath = '{$Request.domain}'
</script>
<script src="__ADMIN__/js/upload.js"></script>
</body>
</html>