<nav class="navbar navbar-default" style="margin: 0;border: none">
    <div class="top-bar-container">
        <div class="container">
            <p class="contact pull-left"><a href="/contacts.html">联系我们</a></p>
            <ul class="nav navbar-nav navbar-right" id="main-menu-user">
                {if Session::has('WEB_USER_SESSION_INFO')}
                {php}
                $authenticated = Session::get('WEB_USER_SESSION_INFO');
                {/php}
                <li class="user offline">
                    <a class="dropdown-toggle user" data-toggle="dropdown" href="#">
                        {if empty($user['avatar'])}
                        <img src="__PORTAL__/images/headicon.png" class="headicon">
                        {else /}
                        <img src="{$user['avatar']}" class="headicon" width="30"/>
                        {/if}
                        {$authenticated['full_name']|default='请完善个人资料'}
                        <span class="user-nickname"></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('/user/center')}" target="_blank"><i class="fa fa-home"></i> &nbsp;个人中心</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href=""><i class="fa fa-sign-out"></i> &nbsp;退出</a></li>
                    </ul>
                </li>
                {else /}
                <li class="user login">
                    <ul class="pull-right">
                        <li><a href="{:url('/login')}"><i class="fa fa-sign-in"></i> &nbsp;登录</a></li>
                        <li class="divider"></li>
                        <li><a href="{:url('/register')}"><i class="fa fa-user"></i> &nbsp;注册</a></li>
                    </ul>
                </li>
                {/if}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="logo">
            <a href="__ROOT__/">
                <img src="__PORTAL__/images/logo.png" alt="logo">
                <span>{$theme_vars.company_name|default='途迹网'}</span>
            </a>
        </div>
        <div class="search">
            <form method="post" action="{:url('portal/Search/index')}">
                <div class="form-group search-input">
                    <input type="text" class="form-control" name="keyword" placeholder="请输入查找内容"
                           value="{:input('param.keyword','')}">
                </div>
                <input type="submit" class="btn btn-primary" value="搜 索" style="margin:0"/>
            </form>
        </div>
    </div>
    <div class="nav-bar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul id="main-menu" class="nav navbar-nav">
                <li class="menu-item menu-item-level-1">
                    <a href="/public/" target="">首页 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/festival.html" target="">节日旅行 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/hotel.html" target="">酒店 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/ticket.html" target="">门票 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/destination.html" target="">目的地 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/experience.html" target="">体验旅行 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/community.html" target="">导游专栏 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/notice.html" target="">旅行公告 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/haidao.html" target="">海岛游 </a>
                </li>
                <li class="menu-item menu-item-level-1">
                    <a href="/public/guzhen.html" target="">古镇游 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>