<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站设置</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__ADMIN__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PLUGINS__/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">-->

    <link rel="stylesheet" href="__ADMIN__/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="box box-success">
        <ul class="box-header with-border nav">
            <li class="box-title active"  data-toggle="tab"><a href="#web" data-toggle="tab">网站设置</a></li>
            <li class="box-title"  data-toggle="tab"><a href="#seo" data-toggle="tab">seo设置</a></li>
            <li class="box-title"  data-toggle="tab"><a  href="#upload" data-toggle="tab">上传设置</a></li>
        </ul>
        <form class="form-horizontal">
            <div class="box-body tab-content" style="margin-bottom: 50px">
                <div class="tab-pane fade in active" id="web">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">网站名称</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="网站名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="encrypt" class="col-sm-2 control-label">后台访问加密地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="encrypt" placeholder="后台访问加密地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="webLogo" class="col-sm-2 control-label">网站logo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="webLogo" placeholder="后台访问加密地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="home" class="col-sm-2 control-label">后台主页</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="home" placeholder="后台主页">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="icp" class="col-sm-2 control-label">ICP备</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="icp" placeholder="ICP备">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="records" class="col-sm-2 control-label">公网安备</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="records" placeholder="公网安备">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">站长邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="站长邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">统计代码</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="code" placeholder="统计代码"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="seo">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">seo描述</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="seo-description" placeholder="seo描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="encrypt" class="col-sm-2 control-label">seo内容</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="seo-content" placeholder="seo内容">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="upload">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">wenjia上传格式</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="format" placeholder="上传格式">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-default">重置</button>
                <button type="submit" class="btn btn-info">确认</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>