<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理| 添加文章</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__ADMIN__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PLUGINS__/datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/AdminLTE.min.css">
    <link rel="stylesheet" href="__ADMIN__/css/styles.css">
    <link rel="stylesheet" href="__PLUGINS__/zTree/css/zTreeStyle/zTreeStyle.css">
    <style>
        .form-required {
            margin-left: 3px;
            color: red;
        }

        .table > tbody > tr > th {
            vertical-align: middle;
        }

        .ztree * {
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <form method="post" class="form-horizontal" style="margin-top:10px">
        <div class="row">
            <div class="col-xs-9">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th width="120">分类<span class="form-required">*</span></th>
                        <td style="position: relative">
                            <input class="form-control" type="text" style="width:400px;" required="" value=""
                                   placeholder="请选择分类" onclick="selectCategory();" id="category_name" readonly
                                   aria-required="true">
                            <input class="form-control" type="hidden" value="" name="category_id" id="category_id">
                            <div class="drop-down-box" style="width: 400px">
                                <ul class="ztree"></ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>标题<span class="form-required">*</span></th>
                        <td>
                            <input class="form-control" type="text" name="article_title" id="title" required="" value=""
                                   placeholder="请输入标题" aria-required="true">
                        </td>
                    </tr>
                    <tr>
                        <th>关键词</th>
                        <td>
                            <input class="form-control" type="text" name="article_keywords" id="keywords" value=""
                                   placeholder="请输入关键字">
                            <p class="help-block">多关键词之间用英文逗号隔开</p>
                        </td>
                    </tr>
                    <tr>
                        <th>文章来源</th>
                        <td><input class="form-control" type="text" name="article_source" id="source" value=""
                                   placeholder="请输入文章来源"></td>
                    </tr>
                    <tr>
                        <th>摘要</th>
                        <td>
                            <textarea class="form-control" name="article_excerpt" style="height: 50px;"
                                      placeholder="请填写摘要"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>内容</th>
                        <td>
                            <script id="content" type="text/plain"></script>
                        </td>
                    </tr>
                    <tr>
                        <th>相册</th>
                        <td>
                            <script id="images" type="text/plain"></script>
                            <ul id="photos" class="pic-list list-unstyled form-inline"></ul>
                            <a href="javascript:uploadDialog('多图上传','images','#img-tpl',true);"
                               class="btn bg-navy btn-flat">选择图片</a>
                        </td>
                    </tr>
                    <tr>
                        <th>附件</th>
                        <td>
                            <ul id="files" class="pic-list list-unstyled form-inline">
                            </ul>
                            <a href="javascript:uploadDialog('附件上传','files','#file-tpl',true);"
                               class="btn bg-navy btn-flat">选择文件</a>
                        </td>
                    </tr>
                    <tr>
                        <th>音频</th>
                        <td class="form-inline">
                            <input type="hidden" name="audio_id" value="" hidden>
                            <input id="file-audio" class="form-control" type="text" name="audio" value=""
                                   placeholder="请上传音频文件" style="width: 200px;">
                            <a href="javascript:uploadDialog('上传音频','audio','#file-audio',false);">上传</a>
                        </td>
                    </tr>
                    <tr>
                        <th>视频</th>
                        <td class="form-inline">
                            <input type="hidden" name="video_id" value="">
                            <input id="file-video" class="form-control" type="text" name="video" value=""
                                   placeholder="请上传视频文件" style="width: 200px;">
                            <a href="javascript:uploadDialog('上传视频','video','#file-video',false);">上传</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success ajax-submit">添加</button>
                        <a class="btn btn-default" href="javascript:{top.layer.closeAll()}">返回</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th><b>缩略图</b></th>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <input type="hidden" name="thumbnail" id="thumbnail" value="">
                                <a href="javascript:uploadDialog('图片上传','image','#thumbnail',false);">
                                    <img src="__ADMIN__/img/default-thumbnail.png" id="thumbnail-preview" width="135"
                                         style="cursor: pointer">
                                </a>
                                <input type="button" class="btn btn-sm btn-cancel-thumbnail" value="取消图片">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><b>发布时间</b></th>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control datetime" name="published_time" type="text" value="">
                        </td>
                    </tr>

                    <tr>
                        <th>文章模板</th>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" name="more[template]" id="more-template-select">
                                <option value="">请选择模板</option>
                                <option value="article">文章页 article/article.html</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="img-tpl">
    <li style="margin-bottom: 5px">
        <input id="image-{id}" type="hidden" name="image_ids[]" value="{id}">
        <input class="form-control" id="image-name-{id}" type="text" name="image_names[]" value="originalName">
        <img src="filepath" alt="" height="34">
        <a href="javascript:uploadDialog('图片替换','#_id','file');">替换</a>
        <a href="javascript:void(0)" onclick="{$(this).parent().remove()}">移除</a>
    </li>
</script>
<script type="text/html" id="file-tpl">
    <li style="margin-bottom: 5px">
        <input id="file-{id}" type="hidden" name="file_ids[]" value="{id}">
        <input class="form-control" id="file-name-{id}" type="text" name="file_names[]" value="originalName"
               title="文件名称">
        <a id="file-preview-{id}" href="filepath" target="_blank">下载</a>
        <a href="javascript:uploadDialog('文件上传','#file-_id','file');">替换</a>
        <a href="javascript:void(0)" onclick="{$(this).parent().remove()}">移除</a>
    </li>
</script>
<!-- jQuery 2.2.3 -->
<script src="__PLUGINS__/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="__ADMIN__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PLUGINS__/datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="__PLUGINS__/datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__PLUGINS__/layer/layer.js"></script>
<script>
    var Uploader = '{:url("/asset/upload")}';
</script>
<!-- UEditor -->
<script type="text/javascript" src="__PLUGINS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PLUGINS__/ueditor/ueditor.all.min.js"></script>
<script src="__PLUGINS__/zTree/js/jquery.ztree.core.min.js"></script>
<script>
    var $downBox = $(".drop-down-box");
    var ue = UE.getEditor('content');
    var form = $('form');
    var fileType, tpl, multi, index;

    function uploadDialog(title, type, template, multiple) {
        fileType = type;
        tpl = template;
        multi = multiple;
        index = layer.open({
            type: 2,
            title: title,
            area: ['800px', '500px'],
            btn: ['关闭'],
            content: '{:url("/article/asset")}'
        });
    }

    form.submit(function () {
        var $data = form.serialize();
        $.ajax({
            url: '{:url("/article/add")}',
            type: 'post',
            data: $data,
            dataType: 'json',
            success: function (data) {
                if (data.status === 'success') {
                    layer.msg(data.msg);
                    $obj = top.window['iframe'];
                    $obj.reload();
                    top.layer.closeAll();
                } else {
                    form.find('input[name="__token__"]').remove();
                    form.prepend(data.token);
                }
            }
        });
        return false;
    });

    function reset() {
        document.getElementById('form').reset();
    }

    function selectCategory() {
        if ($downBox.is(':visible')) {
            $downBox.hide()
        } else {
            $downBox.show()
        }
        var setting = {
            view: {
                showIcon: showIconForTree,
                fontCss: {color: "#009f95"}
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "parent_id",
                    rootPId: 0
                }
            },
            callback: {
                onClick: zTreeSelect
            }
        };
        $.get('{:url("/category/getAll")}', function (data) {
            $.fn.zTree.init($('.ztree'), setting, data);
        });
    }

    function showIconForTree(treeId, treeNode) {
        return !treeNode.isParent;
    }

    function zTreeSelect(event, treeId, treeNode) {
        $('#category_name').val(treeNode.name);
        $('#category_id').val(treeNode.id);
    }

    $(function () {
        var $timePicker = $(".datetime");
        $timePicker.datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd  hh:ii",
            autoclose: true,
            todayBtn: true,
            initialDate: new Date(),
        });
        $timePicker.datetimepicker('setDate', new Date());
        $(document).click(function (e) {
            if (e.target.id === 'category_name' || e.target.id.indexOf('switch') >= 0) return;
            if ($downBox.is(':visible')) {
                $downBox.hide()
            }
        })
    });
</script>

</body>
</html>